.airConditions{
    align-items: flex-start;
    flex-direction: column;

    height: 25%;
    margin-bottom: 0;
}

.airConditionContainer p{
    display: flex;
    align-items: center;

    font-size: 14px;

    opacity: .7;

    text-transform: uppercase;
    letter-spacing: 1px;
}

.airConditionContainer .icon{
    padding-right: 5px;

    font-size: 32px;

    transform: translateY(10px);
    box-sizing: border-box;
}

.conditionContainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    width: auto;

    padding: 0 1rem;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px){
    .conditionContainer{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .airConditionContainer p{
        font-size: 10px;
    }
    .conditionContainer span{
        font-size: 14px;
    }
}