.map {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 95%;
    height: 100%;
    margin: 2rem;

    background-color: #aad3df;
    color: whitesmoke;

    border-radius: 20px;
    border: 1px solid gray;

    overflow: hidden;
    box-sizing: border-box;
}