.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 5%;
    padding: 2rem 0;

    background: var(--primary-color);
    color: var(--font-color);
    border-radius: 20px;

    box-sizing: border-box;
}

.navbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* width: 50px; */
    /* height: 50px; */
    margin: 15px 0;
    padding: 5px;

    font-size: 36px;

    color: var(--font-color);
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    opacity: .8;

    box-sizing: border-box;
    transition: .3s;
}

.navbar button.active {
    opacity: .5;
}

.navbar button:hover {
    opacity: .5;
}

.navbar .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 15%;
}

.navbar .icon {
    width: 60px;
    height: 60px;
    padding: 10px;

    font-size: 42px;

    color: var(--accent-color);
    background: var(--secondary-color);

    border-radius: 10px;
    box-sizing: border-box;
}

.navButtons {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 75%;
}

.navbar button span {
    margin: 5px 0;

    font-size: 14px;
}

.githubButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    height: 1%;
}
.githubButton a{
    text-decoration: none;
}