.searchBarContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    background: var(--primary-color);
    color: var(--font-color);
    border-radius: 20px;
    box-sizing: border-box;
}
.searchBarContainer input{
    width: 100%;
    height: 100%;
    padding: 5px 10px;

    font-size: 14px;

    color: var(--font-color);
    background: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
}