.weather {
    flex-direction: row !important;
}

.forecastInfo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

.forecastInfo .cityName {
    margin-bottom: 5px;
}

.forecastInfo .countryName {
    opacity: .8;
}

.forecastInfo .temperature {
    font-size: 52px;
}

.forecastInfo:nth-child(2){
    justify-content: center;
    align-items: end;
}
.forecastInfo img {
    width: 35%;
}

@media only screen and (max-width: 768px) {
    .forecastInfo .cityName {
        font-size: 28px;
    }

    .forecastInfo .countryName {
        font-size: 14px;
        margin-left: 10px;
    }

    .forecastInfo .temperature {
        font-size: 32px;
    }
    .forecastInfo img{
        width: 80%;
    }
}