.weatherInfo{}
p{
    display: flex;
    align-items: center;
    width: 100%;

    font-size: 14px;

    opacity: .7;

    text-transform: uppercase;
    letter-spacing: 1px;
}


@media only screen and (max-width: 768px) {
    .info{
        flex-direction: column;
    }
    .infoContainer {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        width: 100%;
    }

    .infoContainer p {
        font-size: 10px;
    }

    .infoContainer span {
        font-size: 12px;
    }
}