.App {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-wrap: wrap; */

  width: 100%;
  height: 100vh;
  padding: 2rem;

  background: var(--bg-color);

  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: .3s;
}

.darkMode {
  --bg-color: #0b1320;
  --primary-color: #212d3c;
  --secondary-color: #34455d;
  --font-color: white;
  --accent-color: #92b2e6;
}

.lightMode {
  --bg-color: #FFFFFF;
  --primary-color: #F5F5F5;
  --secondary-color: #e6e6e6;
  --font-color: #333333;
  --accent-color: #484848;
}

.weatherContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;
  height: 100%;
}

.mainContainer {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin: 2rem;

  /* background: #212d3c; */
  border-radius: 20px;
  box-sizing: border-box;
}

.loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */

  width: 100%;
  height: 100%;

  color: var(--accent-color);
}

.loaderContainer span {
  display: inline-block;

  padding: 10px;

  font-size: 200px;

  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loaderContainer span:nth-child(odd) {
  animation-delay: -0.4s;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}